<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExamenConexion"
			 connectionString="Data Source=DESKTOP-49349KG\SQLEXPRESS; Initial Catalog=Examen_Parcial2; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration> 